[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Ll]ogs/
[Bb]uild/
[Bb]uilds/
[Uu]serSettings/
[Mm]emoryCaptures/
[Rr]ecordings/
Assets/To_AI_SH_Star/

# IDE
.vs/
.vscode/
*.csproj
*.sln
*.user
*.pidb
*.pdb
*.mdb
*.opendb
*.VC.db

# OS
.DS_Store
Thumbs.db
